/** Brandon Mok **/
/** CSS **/

* {
   margin: 0;
   padding: 0;
   font-family: 'Source Sans Pro', sans-serif; 
}

header {
    background-color: #2e3339;
    height: 4em;
    border-bottom: 1.25em solid #29E789;
}

footer, .footer-login {
    background-color: #2e3339;
    height: 4em;
    width: 100%;
    border-top: 1.25em solid #29E789;
    margin-top: 5em;
}
/* Class used to distinguish between login page and all other page footers */
/* Had issues where footer would overlap content on all other pages besides footer */
.footer-login {
    position: absolute;
    bottom: 0;
}


/** Navigation */
.nav {
    float: right;
    list-style-type: none;
}
.nav > li {
    display: inline-block;
}
.nav li a {
    color: white;
    font-size: 1.5rem;
    margin: auto 0;
}

.user-welcome {
    margin: .5em 0 0 1em;
    float: left;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


/** ALl Anchor tags */
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}


div#back-arrow-container {
    margin-top: 2em;
}
.fontawesome-icons {
    font-size: 3rem;
}
.fontawesome-icons:hover {
    color:#29E789;
}


/* Heading for page/section headings */
.section-heading {
    text-align: center;
    margin: 1em 0;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Commonly used centering style */
.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}




/* Login + register Form Styling */
#login-form-container, #account-register-container {
    background-color: #aeb1b6;
    border-radius: 1em;
    text-align: center;
    margin: 0 25%;
    padding: 2em 0;
}
form#login-form > *, form#account-register-form > * {
    font-size: 1.25rem;
    display: block;
    margin: 0 auto;
}
form#login-form > label, form#account-register-form > label {
    font-size: 1.5em;
    font-weight: bold;
}
#submit-btn {
    background-color: #29E789;
    font-weight: bold;
    padding: .5em;
    border: 2px solid #29E789;
    border-style: outset;
    border-radius: .5em;
    text-shadow: none;
}
#submit-btn:hover {
    cursor: pointer;
    border: 2px solid rgb(37, 214, 126);
}

/** User registration page */
div#new-user-register {
    margin-top: 2em;
}
div#new-user-register a {
    font-size: 1.25rem;
    font-style: italic;
}
div#new-user-register a:hover {
    font-weight: bold;
    font-style: initial;
}


/* Form error + success text */
.form-error-text {
    margin-top: 1em;
    font-weight: bold;
    color: rgb(255, 77, 77);
}
.form-success-text {
    margin-top: 1em;
    font-weight: bold;
    color: #29E789;
}

/* #event-container {
    background-color: aquamarine;
} */
.events {
    display: block;
    border: 2px solid #2e3339;
    margin: 1.25em;
    padding: 1.25em;
}
.event-headings {
    font-size: 2rem;
    font-weight: bold ;
}







#logout-screen {
    background-color: #29E789;
    height: 100vh;
}
#logout-textbox {
    font-weight: bold;
    font-size: 3rem;
    background-color: white;
    border-radius: .5em;
    width: 10em;
    height: 2.5em;
    text-align: center;
    border: 2px solid #2e3339;
}