/** Brandon Mok **/
/** CSS **/

* {
   margin: 0;
   padding: 0;
   font-family: 'Source Sans Pro', sans-serif; 
}

/** ALl Anchor tags */
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}

header {
    background-color: #2e3339;
    height: 4em;
    border-bottom: 1.25em solid #29E789;
}

footer, .footer-login {
    background-color: #2e3339;
    height: 4em;
    width: 100%;
    border-top: 1.25em solid #29E789;
    margin-top: 5em;
}


/** Navigation */
.nav {
    float: right;
    list-style-type: none;
}
.nav > li {
    display: inline-block;
    margin: .5em 0 0 1em;
}
.nav li a {
    color: white;
    font-size: 1.5rem;
    margin: auto 0;
}
/* In nav, the "HI {username} */
.user-welcome {
    margin: .5em 0 0 1em;
    float: left;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}



/* Heading for page/section headings */
.section-heading {
    text-align: center;
    margin: 1em 0;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Commonly used centering style */
.center-element {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}




/* Login + register Form Styling */
#login-form-container, #account-register-container {
    background-color: #aeb1b6;
    border-radius: 1em;
    text-align: center;
    margin: 0 25%;
    padding: 2em 0;
}
form#login-form > *, form#account-register-form > * {
    font-size: 1.25rem;
    display: block;
    margin: 0 auto;
}
form#login-form > label, form#account-register-form > label {
    font-size: 1.5em;
    font-weight: bold;
}
#submit-btn {
    background-color: #29E789;
    font-weight: bold;
    padding: .5em;
    border: 2px solid #29E789;
    border-style: outset;
    border-radius: .5em;
    text-shadow: none;
    font-size: 1.3em;
    margin-top: .5em;
}
#submit-btn:hover {
    cursor: pointer;
    border: 2px solid rgb(37, 214, 126);
}

/** User registration page */
div#new-user-register {
    margin-top: 2em;
}
div#new-user-register a {
    font-size: 1.25rem;
    font-style: italic;
}
div#new-user-register a:hover {
    font-weight: bold;
    font-style: initial;
}
div#back-arrow-container {
    margin-top: 2em;
}

/* .fontawesome-icons {
    font-size: 3rem;
} */
.fontawesome-icons:hover {
    color:#29E789;
}

i {
    font-size: 2rem;
}


/* Form error + success text */
.form-error-text {
    margin-top: 1em;
    font-weight: bold;
    color: rgb(255, 77, 77);
}
.form-success-text {
    margin-top: 1em;
    font-weight: bold;
    color: #29E789;
}



/** EVENTS **/
.events {
    border: 2px solid #2e3339;
    margin: 1.25em;
    padding: 1.25em;
    text-align: center;
}
.event-headings {
    font-size: 2rem;
    font-weight: bold ;
}
.event-timings {
    font-style: italic;
    font-weight: bold;
}
.event-registration-session-info {
    margin: 1em;
    border: 2px solid #2e3339;
    min-height: 12em;
    padding-left: 2em;
}
/** Sign up buttons when signing up for event + session **/
.sign-up-btns {
    display: inline-block;
    margin-top: 1em;
    background-color: #29E789;
    border: 2px solid #29E789;
    padding: 1em;
    width: 25%;
}
.sign-up-btns:hover {
    border: 2px solid #2e3339;   
    font-weight: bold; 
}


/** REGISTRATION */
.registration{
    border: 2px solid #2e3339;
    margin: 2em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.registration-events, .registration-sessions {
    flex: 1 1 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
}
.registration-events > div, .registration-sessions > div {
    padding: 2em; 
}
.registration-buttons, .registration-event-info, .registration-session-info {
    flex: 1 1 100%;
}




/** ADMIN **/
.admin-table-container{
    margin: 1em 1.5em 1em 1.5em;
}
.admin-table {
    border-collapse: collapse;
    width: 100%;
}
.admin-table td, .admin-table th {
    border: 1px solid #2e3339;
    padding: 8px;
}
.admin-table td a:hover {
    color: #29E789;
    font-style: bold;
}
.admin-table tr:nth-child(even){
    background-color: #f2f2f2;
}
.admin-table tr:hover {
    background-color: #656f7c;
}
.admin-table th {
    padding: 1em;
    text-align: left;
    background-color: #29E789;
    color: #2e3339;
}

/** Admin - account management (page w/specific chosen user) */
.add-btn {
    margin: 0 1.5em;
    border: 2px solid #29E789;
    background-color: #29E789;
    text-align: center;
    font-size: 1.2rem;
    padding: .5em;
    cursor: pointer;
}
.add-btn:hover {
    font-weight: bold;
    border: 2px solid #2e3339;
}
.edit-add-form-container {
    background-color: #aeb1b6;
    border-radius: 1em;
    margin: 0 25%;
    padding: 2em 0;
    text-align: center;
}
#user-edit-form > div label {
    font-size: 1.4rem;
}
#user-edit-form > div input {
    font-size: 1.2em;
}
/* Div to hold labels */
#user-edit-labels {
    display: inline-block;
    text-align: left;
}
/* Div to hold inputs */
#user-edit-inputs {
    margin-left: 1em;
    display: inline-block;
}
/** The actual label & inputs inside the div */
#user-edit-labels > label, #user-edit-inputs > input {
    display: block;
}






/* Delete */
#confirm-delete-container {
    margin-top: 5em;
}
.delete-btn {
    background-color: #29E789;
    padding: .5em;
    font-size: 1.1rem;
    border: 2px solid #29E789;
    display: inline-block;
    text-align: center;
    width: 10em;
}
.delete-btn:hover {
    border: 2px solid #2e3339;
    font-weight: bold;
}






/** LOGOUT **/
#logout-screen {
    background-color: #29E789;
    height: 100vh;
}
#logout-textbox {
    font-weight: bold;
    font-size: 3rem;
    background-color: white;
    border-radius: .5em;
    width: 10em;
    height: 2.5em;
    text-align: center;
    border: 2px solid #2e3339;
}